
<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="col-1"><%= form.label :name %></div>
    <div class="col-1"><%= form.text_field :name, class:'p-1 rounded border border-dark bg-secondary'  %></div>
  </div>

  <div class="field row">
    <div class="col-1"><%= form.label :age %></div>
    <div class="col-1"><%= form.number_field :age, class:'p-1 rounded border border-dark bg-secondary' %></div>
  </div>

  <div class="field row">
    <div class="col-1"><%= form.label :email %></div>
    <div class="col-1"><%= form.email_field :email, class:'p-1 rounded border border-dark bg-secondary'  %></div>
  </div>

  <div class="actions row">
    <div class="col-1"><%= form.submit class:'bg-primary text-white border-0 p-2 rounded'  %></div>
  </div>
<% end %>
