<p id="notice"><%= notice %></p>

<div class="container-fluid">

    <h1 class="display-4">Students</h1>

    <div class="row mb-2 p-2">
          <div class="col-1 text-white font-weight-bold">Name</div>
          <div class="col-1 text-center text-white font-weight-bold">Age</div>
          <div class="col-1 text-white font-weight-bold">E-mail</div>
    </div>

    <% @students.each do |student| %>
      <div class="row p-2">
        <div class="col-1"><%= student.name %></div>
        <div class="col-1 text-center"><%= student.age %></div>
        <div class="col-2"><%= student.email %></div>
        <div class="col-1"><%= link_to 'Show', student, class:'btn btn-primary'  %></div>
        <div class="col-1"><%= link_to 'Edit', edit_student_path(student), class:'btn btn-success' %></div>
        <div class="col-1"><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></div>
      </div>
    <% end %>


    <%= link_to 'New Student', new_student_path, class:'text-info p-2' %>

</div>
